$neutral: #1a1a1a;
$info: #482bd9;
$success: #007505;
$warning: #e5c100;
$danger: #b20000;
$primary: #0065c1;
$primaryHover: #004889;
$headerFooter: #757575;
$main-animation-delay: 1s;
$main-animation-duration: 2s;
